/* Setting up global variables here */
/* NB: CSS variables are currently supported in about 86% of browsers (caniuse.com),
   for higher compatibility this could be run through a build step like PostCSS
   or just a simple find-and-replace operation before deploying. */

:root {
  /* Using system fonts for faster page load, but open to using whatever is decided upon */
  --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --serif-font: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

  /* Color palette */
  --fresh: #f7f5e6;
  --vermillion: #333a56;
  --sunshine: #52658f;
  --clean: #e8e8e8;

  /* Break points */
  --min-tablet-width: 600px;
  --min-desktop-width: 800px;

  font-family: var(--sans-font);
}

/* Minimal reset */

*, *::after, *::before {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

/*  */
.nav-container, .container {
  max-width: 95vw;
  width: 800px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  outline: 1px solid red;
}

.header-img {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url("../assets/placeholder/hero.jpg");
  background-size: cover;
  filter: grayscale(50%);

  /* Shows relevant part of image on small screens */
  background-position-x: 50%;
  min-height: 100vh;
}

header {
  min-height: 100vh;
  display: flex;
}

header form {
  display: flex;
}

header * {
  color: red;
  outline: 1px solid yellow;
}

header > * {
  outline: 1px solid magenta;
}

main {
  background: var(--fresh);
}