/* Setting up global variables here */
/* NB: CSS variables are currently supported in about 86% of browsers (caniuse.com),
   for higher compatibility this could be run through a build step like PostCSS
   or just a simple find-and-replace operation before deploying. */

:root {
  /* Using system fonts for faster page load, but open to using whatever is decided upon */
  --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --serif-font: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

  /* Color palette */
  --fresh: #f7f5e6;
  --vermillion: #333a56;
  --vermillion-cc: #333a56cc;
  --sunshine: #52658f;
  --clean: #e8e8e8;

  /* Break points */
  --min-tablet-width: 600px;
  --min-desktop-width: 800px;

  font-family: var(--sans-font);
}

/* Minimal reset */

*, *::after, *::before {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}


button, input {
  font-size: 1rem;
}

/* ********** */
/* NAVIGATION */
/* ********** */

/* Only using this div so that the background of navbar
   extends to 100% width of screen */
.nav-outer-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--vermillion);
}

.nav-container, .container {
  max-width: 95vw;
  width: 800px;
  margin: 0 auto;
}

.nav-container {
  padding: 0.5rem 0;
  justify-content: space-between;
  align-items: bottom;
  display: flex;
  color: var(--fresh);
}

.nav-container a {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--fresh);
  color: var(--vermillion);
  text-decoration: none;
}

.header-img {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url("../assets/placeholder/hero.jpg");
  background-size: cover;
  filter: grayscale(100%);

  /* Shows relevant part of image on small screens */
  background-position-x: 50%;
  min-height: 100vh;
}

header {
  min-height: 100vh;
  display: flex;
}

header .container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header .container div {
  color: var(--fresh);
  padding: 1rem;
  background: var(--vermillion-cc);
}

header form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: min-content;
}

header form label {
  margin: 0.5rem 0;
}

header form button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--fresh);
  color: var(--vermillion);
  margin: 0.5rem 0;
  border: none;
}

/* header * {
  color: red;
  outline: 1px solid yellow;
} */

/* header > * {
  outline: 1px solid magenta;
} */

header .container {
  display: flex;
}


main {
  background: var(--fresh);
}